<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="dochd">
  <form th:action="@{/users/{userId}/stats(userId=${user.id})}" method="get">
    <button type="submit" class="btn btn-outline-danger mt-4">Посмотреть дневник самоконтроля</button>
  </form>
  <form th:action="@{/users/{userId}/nutrition(userId=${user.id})}" method="get">
    <button type="submit" class="btn btn-outline-danger mt-4">Посмотреть дневник питания</button>
  </form>
  <form th:action="@{/users/{userId}/chart(userId=${user.id})}" method="get">
    <button type="submit" class="btn btn-outline-danger mt-4">Посмотреть график сахаров</button>
  </form>
  <form th:action="@{/users/{userId}/profile(userId=${user.id})}" method="get">
    <button type="submit" class="btn btn-outline-danger mt-4">Посмотреть профиль пациента</button>
  </form>
  <form th:action="@{/users/{userId}/chat(userId=${user.id})}" method="get">
    <button type="submit" class="btn btn-outline-danger mt-4">Чат с пациентом</button>
  </form>
</nav>
