<!DOCTYPE html>
<html>
<head>
  <title>Confirm Registration</title>
  <head>
    <title>Spring Security Example </title>
    <div id="script" th:insert="fragments/boots :: sc"></div>
    <div id="q" th:insert="fragments/boots :: trap"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div id="w" th:insert="fragments/boots :: sc2"></div>
    <link rel="stylesheet" href="css/confirmstyle.css">

  </head>
</head>
<body>
<div class="container">
<div class="form-wrapper text-center">
  <h3 class="text-center">Подтверждение регистрации</h3>
  <div th:if="${message}" class="alert alert-danger">
    <span th:text="${message}"></span>
  </div>
  <form th:action="@{/confirm}" method="post">
    <input type="hidden" name="username" value="${user.username}" />
    <label class="col-sm-3 col-form-label text-center">Код подтверждения:</label>
    <div class="col-sm-12 text-center">
      <input type="text" id="confirmationCode" name="confirmationCode" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary floating-button">Отправить</button>
  </form>
</div>
</div>
</body>
</html>
