<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div id="script" th:insert="fragments/boots :: sc"></div>
    <div id="q" th:insert="fragments/boots :: trap"></div>
    <div id="w" th:insert="fragments/boots :: sc2"></div>
    <div id="tagWithInsertAttribute" th:insert="fragments/header :: targetFragmentToIncludeInOurPage"></div>
</head>
<body>
<div class="container mt-5"></div>
<h5 >Добро пожаловать в приложение Diastats!</h5>
<div>Diastats - это приложение, разработанное для учета и мониторинга ваших данных о потреблении продуктов питания и уровнях сахара в крови. С помощью Diastats вы сможете следить за своим рационом питания, контролировать уровень сахара и улучшать свое здоровье.

    Возможности Diastats:
    - Записывайте свое потребление продуктов питания, указывая количество и дату/время.
    - Отслеживайте уровень сахара в крови и сохраняйте результаты измерений.
    - Просматривайте и анализируйте свои данные о потреблении продуктов питания и уровнях сахара в удобном интерфейсе.
    - Получайте рекомендации и советы для поддержания здорового образа жизни.

    Для начала использования Diastats, пожалуйста, пройдите регистрацию и войдите в свою учетную запись. Затем вы сможете добавлять записи о потреблении продуктов и измерения уровня сахара.

    Если у вас возникнут вопросы или потребуется помощь, не стесняйтесь обращаться к документации или связаться с нами.

    Приятного использования Diastats!</div>

</body>
</html>