<!DOCTYPE html>
<html lang="en">
<head>
    <include src="bootstrap-links.html"></include>
    <title>BloodSugar</title>
    <div id="script" th:insert="fragments/boots :: sc"></div>
    <div id="q" th:insert="fragments/boots :: trap"></div>
    <div id="w" th:insert="fragments/boots :: sc2"></div>
    <div id="tagWithInsertAttribute" th:insert="fragments/header :: targetFragmentToIncludeInOurPage"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>


<div th:if="${errorMessage}" class="error-message">
    <span th:text="${errorMessage}"></span>
</div>

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Добавить показание сахара</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Отфильтровать показания</button>
    </p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <form method="post" th:action="@{/main}" >
                    <div class="form-group row">
                        <input type="text" name="sugar" placeholder="Введите сахар" class="form-control mt-2">
                        <input type="datetime-local" name="dateTime" placeholder="Дата" class="form-control mt-2">
                        <button type="submit" class="btn btn-outline-danger mt-4" >Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <form method="get" th:action="@{/main}" class="form-inline">
                    <div class="form-group row">

                            <input type="date" name="startDate" placeholder="Дата начала" class="form-control mt-2">


                            <input type="date" name="endDate" placeholder="Дата окончания" class="form-control mt-2">

                        <button type="submit" class="btn btn-outline-primary mt-4">Фильтровать</button>
                    </div>
                </form>
            </div>

    </div>
        <span th:text="${attention1}" style="color: red; font-size: 20px; font-weight: bold;"></span>
        <br>
        <span th:text="${attention}" style="color: red; font-size: 20px; font-weight: bold;"></span>

        <div>Среднее значение сахара первого дня: <span th:text="${formattedAverageSugarFirstDay}"></span></div>
</div>
    <div id="chartContainer" style="width: 300px; height: 300px;">
        <canvas id="myChart" style="width: 100%; height: 100%;"></canvas>
    </div>


    <div>Список измерений сахаров у больного</div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Сахар</th>
            <th scope="col">ID</th>
            <th scope="col">Имя пользователя</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${sugars == null or sugars.empty}">
            <td colspan="4">У вас нет измерений сахара</td>
        </tr>
        <tr th:each="sugar : ${sugars}">
            <td><span th:text="${sugar.dateTime.format(dateTimeFormatter)}">Дата и время</span></td>
            <td><span th:text="${sugar.sugar}">Сахар</span></td>
            <td><span th:text="${sugar.id}">ID</span></td>
            <td><span th:text="${sugar.patientName}">Имя пользователя</span></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    var sugars = /*[[${sugars}]]*/ [];
    var lowSugarCount = 0;
    var mediumSugarCount = 0;
    var highSugarCount = 0;

    // Подсчет количества показаний в каждой категории
    sugars.forEach(function (sugar) {
        if (sugar.sugar < 4.0) {
            lowSugarCount++;
        } else if (sugar.sugar > 8.3) {
            highSugarCount++;
        } else {
            mediumSugarCount++;
        }
    });

    // Создание круговой диаграммы с использованием Chart.js
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Низкий уровень глюкозы', 'Средний уровень глюкозы', 'Высокий уровень глюкозы'],
            datasets: [{
                data: [lowSugarCount, mediumSugarCount, highSugarCount],
                backgroundColor: ['blue', 'green', 'red']
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
</body>
</html>