<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PFC</title>
  <div id="script" th:insert="fragments/boots :: sc"></div>
  <div id="q" th:insert="fragments/boots :: trap"></div>
  <div id="w" th:insert="fragments/boots :: sc2"></div>
  <div id="tagWithInsertAttribute" th:insert="fragments/adminHeader :: adminHeader"></div>
</head>
<body>
<h1>Добавить продукт</h1>
<form method="post" th:action="@{/pfc/add}">
  <label for="name">Имя:</label>
  <input type="text" id="name" name="name" required class="form-control mt-2">
  <br>
  <label for="proteins">Белки:</label>
  <input type="number" id="proteins" name="proteins" step="0.01" required class="form-control mt-2">
  <br>
  <label for="fats">Жиры:</label>
  <input type="number" id="fats" name="fats" step="0.01" required class="form-control mt-2">
  <br>
  <label for="carbohydrates">Углеводы:</label>
  <input type="number" id="carbohydrates" name="carbohydrates" step="0.01" required class="form-control mt-2">
  <br>
  <label for="carbohydrateType">Тип углеводов:</label>
  <select id="carbohydrateType" name="carbohydrateType" class="form-select">
    <option value="Легкоусвояемые">Простой</option>
    <option value="Сложноусваемые">Сложный</option>
  </select>
  <br>

  <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<h1>Таблица продуктов</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Наименование продукта</th>
    <th scope="col">Белки</th>
    <th scope="col">Жиры</th>
    <th scope="col">Углеводы</th>
    <th scope="col">Хлебные единицы</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pfc : ${pfcList}">
    <td th:text="${pfc.id}">ID</td>
    <td th:text="${pfc.name}">Наименование продукта</td>
    <td th:text="${pfc.proteins}">Белки</td>
    <td th:text="${pfc.fats}">Жиры</td>
    <td th:text="${pfc.carbohydrates}">Углеводы</td>
    <td th:text="${pfc.breadUnits}">Хлебные единицы</td>
  </tr>
  </tbody>
</table>
</body>
</html>
