<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Nutrition</title>
  <div id="w" th:insert="fragments/boots :: sc2"></div>
  <div id="tagWithInsertAttribute" th:insert="fragments/header :: targetFragmentToIncludeInOurPage"></div>
  <div id="script" th:insert="fragments/boots :: sc"></div>
  <div id="q" th:insert="fragments/boots :: trap"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <div id="e" th:insert="fragments/docheader :: dochd"></div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Дневник питания пациента</h1>
<h2>Пациент: <span th:text="${user.username}"></span></h2>

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Фильтровать показатели</a>
  </p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <form method="get" th:action="@{/users/{userId}/nutrition(userId=${user.id})}" class="form-inline">
          <div class="form-group row">
            <div class="col">
              <input type="date" name="startDate" placeholder="Дата начала" class="form-control mt-2">
            </div>
            <div class="col">
              <input type="date" name="endDate" placeholder="Дата окончания" class="form-control mt-2">
            </div>
            <button type="submit" class="btn btn-outline-primary mt-4">Фильтровать</button>
          </div>
        </form></div>

    </div>
  </div>


  <div style="display: flex;">
    <!-- Блок с выводом потребления углеводов -->
    <div style="flex: 1;">
      <!-- Вывод суммарного потребления простых и сложных углеводов -->
      <p>
        <span style="text-align: right;">Суммарное потребление простых углеводов за день:</span>
        <span th:text="${simpleCarbohydratesSum}"></span>
      </p>
      <p>
        <span style="text-align: right;">Суммарное потребление сложных углеводов за день :</span>
        <span th:text="${complexCarbohydratesSum}"></span>
      </p>

      <!-- Вывод процента сложных углеводов от общего количества углеводов -->
      <p>
        <span style="text-align: right;">Процент сложных углеводов:</span>
        <span th:text="${complexCarbohydratesPercentage}"></span>%
      </p>



      <!-- Вывод общего количества хлебных единиц -->
      <p>
        <span style="text-align: right;">Общее потребление хлебных единиц за день :</span>
        <span th:text="${totalBreadUnits}"></span>
      </p>

      <!-- Предупреждение, если процент сложных углеводов меньше 80% -->
      <div th:if="${complexCarbohydratesPercentage &lt; 80}">
        <p style="font-size: 16px; font-weight: bold; color: red;">Внимание! Количество сложных углеводов меньше 80% от общего количества углеводов, проконсультируйте пациента по поводу соотношения простых к сложным углеводам.</p>
      </div>

      <!-- Предупреждение, если общее количество хлебных единиц превышает 20 -->
      <div th:if="${exceedsBreadUnitsLimit}">
        <p style="font-size: 16px; font-weight: bold; color: red;">Внимание! Общее количество хлебных единиц за день превышает 20, проконсультируйте пациента насчёт нормы углеводов за день.</p>
      </div>

      <div th:if="${overBreadUnits}">
        <p style="font-size: 16px; font-weight: bold; color: red;">Внимание! Обнаружено большое количество съеденных углеводов за один приём пищи, проконсультируйте пациента насчёт количества углеводов за 1 приём пищи.</p>
      </div>

    </div>

    <!-- Блок с графиком -->
    <div id="chartContainer" style="width: 300px; height: 300px; float: right;">
      <canvas id="myChart" style="width: 100%; height: 100%;"></canvas>
    </div>
  </div>


</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Продукт</th>
    <th scope="col">Граммы</th>
    <th scope="col">Дата и время </th>
    <!-- Добавьте другие заголовки для показателей -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="nutrition : ${nutritionList}">
    <td th:text="${nutrition.product.name}"></td>
    <td th:text="${nutrition.grams}"></td>
    <td th:text="${nutrition.consumptionDateTime.format(dateTimeFormatter)}"></td>
    <!-- Добавьте другие ячейки для показателей -->
  </tr>
  </tbody>
</table>
  <script th:inline="javascript">
    var consumptions = /*[[${nutritionList}]]*/ [];
    var easy = 0;
    var hard = 0;


    // Подсчет количества показаний в каждой категории
    consumptions.forEach(function (consumption) {
      if (consumption.carbohydrateType == "Простой") {
        easy=easy+consumption.grams;
      } else if (consumption.carbohydrateType == "Сложный") {
        hard=hard+consumption.grams;
      }
    });

    // Создание круговой диаграммы с использованием Chart.js
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Простые углеводы', 'Сложные углеводы'],
        datasets: [{
          data: [easy, hard],
          backgroundColor: [ 'red', 'green']
        }]
      },
      options: {
        responsive: true
      }
    });
  </script>
</body>
</html>
