<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Дневник самоконтроля пациентов</title>
  <div id="w" th:insert="fragments/boots :: sc2"></div>
  <div id="tagWithInsertAttribute" th:insert="fragments/header :: targetFragmentToIncludeInOurPage"></div>
  <div id="script" th:insert="fragments/boots :: sc"></div>
  <div id="q" th:insert="fragments/boots :: trap"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <div id="e" th:insert="fragments/docheader :: dochd"></div>


</head>
<body>
<h2>Дневник самоконтроля</h2>
<p>Пациент: <span th:text="${user.username}"></span></p>
<!-- Вывод информации о пользователе -->

<!-- Вывод показателей сахара -->
<h2>Показания сахаров</h2>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Дата</th>
    <th scope="col">Время</th>
    <th scope="col">Уровень сахара в крови</th>
  </tr>
  <!-- Итерация по списку показателей сахара -->
  <tr th:each="bloodSugar : ${bloodSugarList}">
    <td th:text="${bloodSugar.data}"></td>
    <td th:text="${bloodSugar.time}"></td>
    <td th:text="${bloodSugar.sugar}"></td>
  </tr>
</table>

</body>
</html>
