<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Дневник самоконтроля пациентов</title>
  <div id="w" th:insert="fragments/boots :: sc2"></div>
  <div id="tagWithInsertAttribute" th:insert="fragments/header :: targetFragmentToIncludeInOurPage"></div>
  <div id="script" th:insert="fragments/boots :: sc"></div>
  <div id="q" th:insert="fragments/boots :: trap"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <div id="e" th:insert="fragments/docheader :: dochd"></div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>


<h2>Дневник самоконтроля</h2>
<h3><p>Пациент: <span th:text="${user.username}"></span></p></h3>
<!-- Вывод информации о пользователе -->

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Фильтровать показатели</a>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <form method="get" th:action="@{/users/{userId}/stats(userId=${user.id})}" class="form-inline">
          <div class="form-group row">
            <div class="col">
              <input type="date" name="startDate" placeholder="Дата начала" class="form-control mt-2">
            </div>
            <div class="col">
              <input type="date" name="endDate" placeholder="Дата окончания" class="form-control mt-2">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-outline-primary mt-2 w-100">Фильтровать</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div id="chartContainer" style="width: 300px; height: 300px;">
    <canvas id="myChart" style="width: 100%; height: 100%;"></canvas>
  </div>
</div>


<!-- Вывод показателей сахара -->
<h2>Показания сахаров</h2>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Дата и время</th>
    <th scope="col">Уровень сахара в крови</th>
  </tr>
  <!-- Итерация по списку показателей сахара -->
  <tr th:each="bloodSugar : ${bloodSugarList}">
    <td><span th:text="${bloodSugar.dateTime.format(dateTimeFormatter)}">Дата и время</span></td>
    <td th:text="${bloodSugar.sugar}"></td>
  </tr>
  </thead>
</table>

<script th:inline="javascript">
  var lowSugarCount = 0;
  var mediumSugarCount = 0;
  var highSugarCount = 0;

  // Подсчет количества показаний в каждой категории
  [[${bloodSugarList}]].forEach(function (bloodSugar) {
      if (bloodSugar.sugar < 4.0) {
          lowSugarCount++;
      } else if (bloodSugar.sugar > 8.3) {
          highSugarCount++;
      } else {
          mediumSugarCount++;
      }
  });

  // Создание круговой диаграммы с использованием Chart.js
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Низкий уровень глюкозы', 'Средний уровень глюкозы', 'Высокий уровень глюкозы'],
      datasets: [{
        data: [lowSugarCount, mediumSugarCount, highSugarCount],
        backgroundColor: ['green', 'blue', 'red']
      }]
    },
    options: {
      responsive: true
    }
  });
</script>

</body>
</html>
