<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <div id="w" th:insert="fragments/boots :: sc2"></div>
    <div id="tagWithInsertAttribute" th:insert="fragments/header :: targetFragmentToIncludeInOurPage"></div>
    <div id="script" th:insert="fragments/boots :: sc"></div>
    <div id="q" th:insert="fragments/boots :: trap"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h2>Список пользователей</h2>
<form action="/role" method="get">
    <input type="text" name="search" placeholder="Поиск по имени пользователя" class="form-control mt-2">
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Роль</th>
        <th scope="col">Действия</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role}"></span>
        </td>
        <td>
            <a th:href="@{/role/edit/{userId}(userId=${user.id})}">Изменить роль</a>
            <a  th:href="@{/role/assign-doctor/{userId}(userId=${user.id})}">Назначить доктора</a>
        </td>
    </tr>
</table>
</body>
</html>
